
$basic-color: #FFCA42;
$main-color: #1B3764; 
  

@mixin button-base {
    height: 66px;
    width: 222px;
    background: $basic-color;
    border: 2px solid $basic-color;
    &:hover {
      background-color: #FFFFFF;
    }
}

@mixin btn-text {
    text-align: center;
    font-family: 'Cardo';
    font-style: normal;
    font-weight: 400;
    font-size: 19px;
    line-height: 28px;
    text-transform: capitalize;
    color: $main-color;
    cursor: pointer;
  }

  @mixin hr-base {
    height: 3px;
    width: 50px;
    background: #FFCA42;
    border-radius: 0px;
    border: none;
  }
